body {
  background-color: black;
  color: white;
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
}

.heading {
  text-align: center;
  background-color: #1c1c1c;
  padding: 35px;
  margin: 0;
}

.result {
  font-size: 1.5rem;
}

.desc {
  font-size: 1.2rem;
}

.para {
  margin-top: 50px;
  text-align: center;
}

.score {
  display: flex;
  text-align: center;
  justify-content: center;
}

.pScore,
.cScore {
  width: 200px;
}

.weapons {
  display: flex;
  justify-content: center;
}

.weaponImg {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rock,
.paper,
.scissor {
  background: #ffcb2f;
  width: 200px;
  margin: 30px;
  border-radius: 10px;
  padding: 40px 15px;
  cursor: pointer;
}

.modal {
  text-align: center;
  margin: 60px;
}

.headModal {
  margin-bottom: 25px;
}

.button {
  background-color: #ffcb2f;
  border: none;
  color: #1c1c1c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.copyright {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
