body {
  background-color: black;
  color: white;
}

.heading {
  text-align: center;
}

.para {
  text-align: center;
}

.score {
  display: flex;
  text-align: center;
  justify-content: center;
}

.pScore,
.cScore {
  width: 100px;
}
